<launch>
    <node pkg="cam_publisher" type="camera_node" name="front_mono" output="screen">
        <param name="device" value="2"/>
        <param name="topic_name" value="/front_mono"/>
        <param name="camera_info_yaml" value="$(find cam_publisher)/config/front_camera.yaml"/>
    </node>
</launch>